#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.todo-app {
  background-color: #f1f4f6;
  border: 1px solid #1b1b1b;
  width: 250px;
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 50px;
}

.todo-app::-webkit-scrollbar {
  display: none;
}

.todo-input {
  width: 150px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 5px;
  font-size: 12px;
}

.add-button {
  background-color: #81cde6;
  border: 1px solid darkblue;
  color: #1b1b1b;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}

.add-button:disabled {
  opacity: 70%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

button {
  font-size: 12px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.add-todo {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

h1,
.todo-title {
  color: #1b1b1b;
}

h1 {
  text-align: center;
  font-size: 20px;
}