.todo-item {
    display: flex;
    align-items: flex-start;
    background-color: ghostwhite;
    padding: 5px;
    border-radius: 5px;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 10px;
}

.todo-check {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-grow: 1;
}

.title {
    word-break: break-word;
    color: #333;
    line-height: 24px;
    flex-grow: 1;
}

.item-buttons {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-left: auto;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
}

.action-button:hover {
    color: black;
}

.todo-edit-input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #79a6a2;
    line-height: 24px;
    resize: none;
    background-color: transparent;
    field-sizing: content;
    outline: none;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .todo-edit-input {
        font-size: 14px;
    }
}