.todo-item {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    justify-content: space-between;
    gap: 5px;
    background-color: #dee2e6;
    padding: 5px;
    border-radius: 5px;
}

.todo-title {
    word-break: break-word;
    font-size: 12px;
    margin: 0 2px;
}

.item-buttons {
    display: flex;
    gap: 5px;
}

.done-button {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.delete-button {
    background-color: lightcoral;
    border: 1px solid darkred;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}