.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: ghostwhite;
    padding: 5px;
    border-radius: 5px;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.todo-check {
    display: flex;
    align-items: center;
}

.title {
    word-break: break-word;
    margin: 0 2px;
    color: #333;
}

.item-buttons {
    display: flex;
    gap: 2px;
}

.action-button {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #333;
    cursor: pointer;
}

.action-button:hover {
    color: black;
}

.todo-edit-input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border: 1px solid #79a6a2;
}

